{% extends "mchatr/base.html" %}

{% block title %}M-CHAT Login{% endblock %}

{% block content %}
<a href="{% url 'initial' %}" class="btn btn-outline-light homeLink btn-sm">HOME</a>
<div class="container">
	<div class="row justify-content-center align-items-center" style="min-height: 75vh;">
		<div class="col-12 col-sm-10 col-md-8 col-lg-5 wrapperLogin">
			<form method="post" class="login-form">
				{% csrf_token %}
				<label for="username">USUÁRIO</label>
				<input type="text" name="username" id="username" class="form-control fieldUserLogin">

				<label for="password">SENHA</label>
				<input type="password" name="password" id="password" class="form-control fieldUserPasswd">

				<button type="submit" class="btn btn-primary loginButton">LOGIN</button>
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-dark failedLoginMessage" role="alert">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			</form>
			<a class="signupHyperlink" href="{% url 'signup' %}">CADASTRAR NOVO USUÁRIO</a>
		</div>
		<div class="col-12 col-md-8 col-lg-7 mchatTitle text-center text-lg-left">
			<h1>M-CHAT</h1>
			<span class="textDarker">FORMULÁRIO DE </span><span class="textSofter">RASTREAMENTO PRECOCE </span><span
				class="textDarker">DE </span> <span class="textSofter">AUTISMO </span><span class="textDarker">PARA
				CRIANÇAS ATÉ 30 MESES
			</span>
		</div>
	</div>
{% endblock %}