.background-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.img-container {
    flex: 1;
    max-width: 50%;
}

.img-texto {
    background-color: rgba(255, 255, 255, 0.241);
    padding: 20px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    max-width: 80%;
    margin-top: 200px;
    margin-right: 100px;
}

@media screen and (max-width: 768px) {
    .background-home {
        flex-direction: column;
        align-items: left;
    }

    .img-texto {
        max-width: 100%;
        margin-top: 10px;
        margin-right:0;
    }
}

.img-texto-citacao{
    float: right;
    text-align: right;
    font-size: 15px;
}

.fieldWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 200px;
}

.fieldWrapper label {
    margin-bottom: 1px;
    color: white;
}

.fieldWrapper input {
    border-radius: 5px;
    border-width: 1px;
}

.perguntas{
    margin: 0;
    padding-top: 10px;
    color: white;
}

.btn{
    display: block;
}

h1{
    text-align: center;
    color: white;
}

h2, p{
    color: white;
}

.background {
    text-align: center;
}

.form-container {
    display: inline-block;
    text-align: left;
}

.teste {
    margin-left: 2%;
}