{% extends 'base.html' %}

{% block title %}Criar Questionário{% endblock %}

{% block content %}
<div class="background">
    <h1>Informações adicionais</h1>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div class="fieldWrapper">
                <div>
                    <label for="id_nome">Nome:</label>
                    {{ form.nome }}
                </div>
                <div>
                    <label for="id_idade">Idade:</label>
                    {{ form.idade }}
                </div>
            </div>
            <button type="submit" class="btn btn-outline-light">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}

