{% extends "base.html" %}

{% block content %}

    <h1>Login</h1>
    <div class="background">
        <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {{ form }}
                    </div>
                    <button type="submit" class="btn btn-outline-light btn-block">Entrar</button>
                </form>
        </div>
        <div>
            <br>
            <p>Não possui uma conta? <a href="{% url 'cadastro' %}" style="color: white;">Cadastre-se</a></p>
        </div>
    </div>
{% endblock %}